<div class="username-wrapper">
    <div class="username-icon-wrapper">
        <div>
            <h3><%= currentUser[0] %></h3>
        </div>
        <div></div>
    </div>
    <% if (currentUser.length > 0) { %>
        <h4><%= currentUser %></h4>
    <% } else { %>
        <h4>Your username</h4>
    <% } %>
</div>