<div class="username-wrapper">
    <div class="username-icon-wrapper">
        <div>
            <% if (username) { %>
                <h3><%= username[0] %></h3>
            <% } else { %>
                <h3></h3>
            <% } %>
        </div>
        <div></div>
    </div>
    <% if (username) { %>
        <h4><%= username %></h4>
    <% } else { %>
        <h4>Your username</h4>
    <% } %>
</div>