body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  position: relative;
}

.error-page-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #020618;
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}