.background {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #020618;
}

.global-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.2px);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.phone-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #1e2939;
  padding: 1.5rem 1rem .7rem;
  border: none;
  border-radius: 15px;
}

.btn-left-side, .btn-right-side {
  position: absolute;
  background-color: #1e2939;
  border: none;
  border-radius: 10px;
  width: .3rem;
}

.btn-left-side {
  height: 3rem;
  left: -.23rem;
}

.btn-right-side {
  height: 4rem;
  right: -.24rem;
  top: 9rem;
}

.bls-top {
  top: 7rem;
}

.bls-bottom {
  top: 11rem;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}

.blob{
  position: absolute;
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  outline: 1px solid transparent;
}

.blob1 {
  top: 5rem;
  left: 5rem;
  width: 450px; 
  height: 444px;
  background-image: linear-gradient(100deg, #c8b3f6 0%, #7546e8 40%, #0d0e20 100%);
}

.blob2 {
  bottom: 5rem;
  right: 5rem;
  width: 350px; 
  height: 344px;
  background-image: linear-gradient(120deg, #1f3326 0%, #347b66 35%, #6fa99f 60%, #cff56e 100%);
}

.blob3 {
  top: 3rem;
  right: 16rem;
  width: 150px; 
  height: 144px;
  background-image: linear-gradient(170deg, #2b0013 0%, #660f24 50%, #e5203a 100%);
}

@media only screen and (max-width:  1163px) {
  .blob1 {
    width: 300px; 
    height: 300px;
  }

  .blob2 {
    width: 250px; 
    height: 244px;
  }

  .blob3 {
    right: 6rem;
  }
}

@media only screen and (max-width:  743px) {
  .blob, .btn-left-side, .btn-right-side {
    display: none;
  }

  .global-wrapper {
    display: block;
    border-radius: 0;
    overflow: hidden;
    box-shadow: none;
    backdrop-filter: none;
  }

  .phone-wrapper {
    position: relative;
    border-radius: 0;
    height: inherit;
    padding: 1.5rem 1rem .7rem;
  }
}