*::selection {
  color: black;
  background: none;
  overflow: hidden;
  box-sizing: content-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

input {
  color: white;
}

input, button, input:focus, button:hover, button:focus {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}