.warning-wrapper {
    position: absolute;
    bottom: 5rem;
    right: 5rem;
    background-color: #ffffff;
    color: #232323;
    display: flex;
    align-items: center;
    gap: .3rem;
    padding: .8rem 7rem .8rem .8rem;
    border: none;
    border-radius: 7px;
    visibility: visible;
    opacity: 1;
    animation: disappear 3.1s ease-out;
    z-index: 5;
}

.warning-wrapper h2 {
    font-size: .8rem;
    font-weight: 600;
}

@keyframes disappear {
    0% {
        visibility: visible;
        opacity: 1;
    }

    80% {
        visibility: visible;
        opacity: 1;
    }

    100% {
        visibility: hidden;
        opacity: 0;
    }
}

@media only screen and (max-width:  743px) {
    .warning-wrapper {
        bottom: 8rem;
        right: 1rem;
    }
}

@media only screen and (max-width:  365px) {
    .warning-wrapper {
        padding: .8rem 3rem .8rem .8rem;
        right: .5rem;
    }
}